body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: floralwhite;
}

h1 {
    color: firebrick;
}

img {
    height: auto;
    width: 500px;
}

h2 {
    color: crimson;
}

p {
    color: brown;
}

.font-size-class {
    font-size: 20px;
}

.recipe-page-links {
   color: indianred; 
}

.ingredients-list
li {
    color: teal;
}

.list-of-steps
li {
    color: sienna;
}